.page-content {
  background-color: #f5f5f5;
}

pre, code {
  background-color: #ddd;
}

.highlight .c {
  color: #194;
}

.site-footer, .site-header, .site-title, .site-title:visited, .site-nav .page-link {
  background-color: #000;
  color: #f5f5f5;
}


.site-title {
  background-color: rgba(0, 0, 0, 0);
  font-size: 24px;
}

.site-header {
  width: 100%;
}

.footer-text, .footer-text a {
  color: #c1c1c1;
}

.post-title, .post-link {
  font-variant: small-caps;
}

.site-header {
  background-image: url("/images/splash.png");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: left top; 
  min-height: 185px;
}

.serp-article:hover {
  background-color: #ddd;
}

.site-nav {
  font-size: 24px;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 0px;
}
